#!/bin/sh

DIR=/var/www/r7-office
CONF=$DIR/Services/Jabber/ASC.Xmpp.Server.Launcher.exe.config
MYSQL=""
DB_HOST="{{ DB_HOST }}"
DB_NAME="{{ DB_NAME }}"
DB_USER="{{ DB_USER }}"
DB_PWD="{{ DB_PWD }}"
[ -e $CONF ] || { echo "Configuration file not found at path $CONF"; exit 1; }
[ $(id -u) -ne 0 ] && { echo "Root privileges required"; exit 1; }

restart_services() {
	echo "Restarting services... "

	systemctl stop r7-officeJabber.service
	systemctl start r7-officeJabber.service

	echo "r7-officeJabber.service "
	echo "OK"
}


save_db_params() {
	CONN_STR="Server=$DB_HOST;Database=$DB_NAME;User ID=$DB_USER;Password=$DB_PWD;Pooling=true;Character Set=utf8;AutoEnlist=false;SSL Mode=none;AllowPublicKeyRetrieval=true;Connection Timeout=30;Maximum Pool Size=300;"

	find "$DIR/Services/Jabber/" -type f -name "*.[cC]onfig" -exec sed -i "s/connectionString=.*/connectionString=\"Server=$DB_HOST;Database=$DB_NAME;User ID=$DB_USER;Password=$DB_PWD;Pooling=true;Character Set=utf8;AutoEnlist=false\" providerName=\"MySql.Data.MySqlClient\"\/>/" {} \;
}

establish_db_conn() {
	echo -n "Trying to establish MySQL connection... "

	command -v mysql >/dev/null 2>&1 || { echo "MySQL client not found"; exit 1; }

	MYSQL="mysql -h$DB_HOST -u$DB_USER"
	if [ -n "$DB_PWD" ]; then
		MYSQL="$MYSQL -p$DB_PWD"
	fi

	$MYSQL -e ";" >/dev/null 2>&1

	ERRCODE=$?

	if [ $ERRCODE -ne 0 ]; then
		systemctl mysqld start >/dev/null 2>&1
		$MYSQL -e ";" >/dev/null 2>&1 || { echo "FAILURE"; exit 1; }
	fi

	echo "OK"
}

function mysql_check_connection() {
	while ! $MYSQL -e ";" >/dev/null 2>&1; do
    		sleep 1
	done
}


establish_db_conn || exit $?
save_db_params
restart_services
